<div class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to Chat Application</h1>
        <p>A new way to chat with your friends</p>
        <p>Create an account today and start chatting</p>
{{#if user}}
    <a type="button" class="btn btn-lg btn-primary" href="#" disabled>Get Started </a>
{{else }}
    <a type="button" class="btn btn-lg btn-primary" href="/users/register">Get Started </a>
{{/if}}

    </div>
</div>
<div class="container">
    <div class="alert alert-info text-center" role="alert">
        This assignment is for BYU-Idaho Cs313 web engineering II
    </div>
    <hr>

    <div class="row">
        <div class="col-md-7">
            <h3><span class="glyphicon glyphicon-fire"></span> Lightning Fast and Easy to Use</h3>
            <p class="light">This Chat Application provides a chat service that lets you and your friends stay connected
                on the go.
                With easy account creation, you'll be up and chatting in minutes. Our chat services are simple and
                secure.
                No learning curve here!</p>
        </div>
        <div class="col-md-5">
            <h3><span class="glyphicon glyphicon-bullhorn"></span> Connect With Friends </h3>
            <p class="light">It's easy to track your people on Chat.
                Also you can send private messages just by typing a name of the person and adding <- . This will let you
                send private message
                friend.
            </p>
        </div>
    </div> <!-- row -->

</div>