<h4 class="page-header">Dashboard</h4>
<style>
    #messages{height:300px;}
    #privatemsgs{height:250px;}
    #privatemsgs{height:300px;}
</style>
<div class="row">
    <div class="col-md-12 offset-md-12 col-sm-12">

        <div class="col-md-4 offset-md-3 col-sm-8">
        <div id="status"></div>
        <div>
        <div id="chat" style="overflow-y:auto" >
            <input type="text" id="username" class="form-control" disabled value='{{{user.name}}}'>
            <br>
            <div class="card">
                <div id="messages" class="card-block">

                </div>
            </div>
            <br>

        </div>
            <textarea id="textarea" class="form-control" placeholder="Enter message..."></textarea>
            <button id="clear" class="btn btn-danger">Clear</button>
        </div>
    </div>
        <div>
        <div class="col-md-3 offset-md-2 col-sm-12 border border-info" id="users" >
            <!-- Start Files -->

                <div class="panel panel-widget">
                    <div class="panel-title text-center">
                        User List <span id="usercount" class="badge">0</span>
                    </div>
                    <div class="panel-body table-responsive" >

                        <table class="table table-dic table-hover ">
                            <tbody id="allusers" style="overflow-y:auto">

                            </tbody>
                        </table>

                    </div>

                </div>

            <!-- End Files -->
            <div id="privateMsgs" class="card-block" >
                <div class="panel-title text-center">
                    Private Messages</span>
                </div>
                <div id="privatemsgs" style="overflow-y:auto;">
                    <!-- private messages lookped in here -->
                </div>
            </div>
        </div>
        </div>
    </div>
    <div id="snackbar"></div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

   <script>
       //       if (window.performance.navigation.type == 1) {
       import  io from "socket.io/lib/client";
       //           window.location.replace("/users/logout");
//       }
       (function(){
           var element = function(id){
               return document.getElementById(id);
           }

           // Get Elements
           var status = element('status');
           var messages = element('messages');
           var textarea = element('textarea');
           var username = element('username');
           var clearBtn = element('clear');

           // Set default status
           var statusDefault = status.textContent;

           var setStatus = function(s){
               // Set status
               status.textContent = s;

               if(s !== statusDefault){
                   var delay = setTimeout(function(){
                       setStatus(statusDefault);
                   }, 4000);
               }
           }

           // Connect to socket.io
          // var socket = io.connect('http://127.0.0.1:4000');
          // var socket = io.connect('mongodb://Ilia:ilia-ilia14@ds119171.mlab.com:19171/chat_application');
           var socket = io.connect('mongodb://Ilia:ilia-ilia14@ds119171.mlab.com:19171/chat_application');

           // Check for connection
           if(socket !== undefined){
               console.log('Connected to socket...');
               // Handle Output
               socket.on('outputChatMessage', function(data){
                  // console.log(data);
                   if(data.length){
                       for(var x = 0;x < data.length;x++){
                           // Build out message div
                           var message = document.createElement('div');
                           message.setAttribute('class', 'chat-message');
                           message.textContent = data[x].name+": "+data[x].message;
                           messages.appendChild(message);
                           messages.insertBefore(message, messages.firstChild);
                       }
                   }
               });



               socket.on('broadcastPrivateMsg', function(data){
                   console.log(data +" in index");
               });
//               socket.on('broadcastPrivateMsgs', function(data){
//                  // console.log(eachdata);
//                   data.forEach(function(eachdata) {
//                       var messageTag = document.createElement('div');
//                       messageTag.setAttribute('class', 'chat-message');
//                       messageTag.textContent = eachdata.sender+": "+eachdata.text +" -> " +eachdata.receiver;
//                       privatemsgs.appendChild(messageTag);
//                       privatemsgs.insertBefore( messageTag, privatemsgs.firstChild);
//                   });
//               });

               socket.on('userOnline', function(userName){
                       var x = document.getElementById("snackbar");
                       x.className = "show";
                       x.innerHTML = userName + " is online";
                       setTimeout(function(){ x.className = x.className.replace("show", ""); }, 2000);
               });

               // Get Status From Server
               socket.on('status', function(data){
                   // get message status
                   setStatus((typeof data === 'object')? data.message : data);

                   // If status is clear, clear text
                   if(data.clear){
                       textarea.value = '';
                   }
               });

               // Handle Input
               textarea.addEventListener('keydown', function(event){
                   if(event.which === 13 && event.shiftKey == false){
                     if(textarea.value.includes("<-")) {
//                       var messageObject = textarea.value.split('<-');
//                       socket.emit('sendPrivateMessage', {
//                           sender: username.value,
//                           receiver: messageObject[0].replace(/\s+/, ""),
//                           privateMessage: messageObject[1].replace(/\s+/, "")
//                       });
                     } else {
                       // Emit to server input
                       socket.emit('inputChatMessage', {
                           name:username.value,
                           message:textarea.value
                       });
                     }
                      textarea.value = '';
                       event.preventDefault();
                   }
               })


               //CHECKS IF USER IS ONLINE
               function isUserOnline(usersonline, eachuser) {
                   for (var i = 0; i < usersonline.length; i++) {
                       if (usersonline[i].userName === eachuser.username) {
                           return true;
                       }
                   }
                   return false;
               }
               socket.on('Allusers', function(usersonline, allUsers){
                   var userStatus = "Offline";
                   //console.log(usersonline);
                   var userCount = allUsers.length;
                   document.getElementById('usercount').innerHTML = userCount;
                   document.getElementById('allusers').innerHTML = '';
                   allUsers.forEach(function(eachuser) {
                    // console.log(eachuser[0]);

//                     var obj = usersonline.findIndex(o => o.userName === eachuser.username);
                       var isOnline = isUserOnline(usersonline, eachuser)
                     //var onlineUserName = obj.userName;
                       if(isOnline) {
                           userStatus = "Online";
                       } else { userStatus = "Offline"; }

                       var hrTag = document.createElement('tr');
                       var tdTag = document.createElement('td');
                       var iTag = document.createElement('i');
                       iTag.setAttribute('class', 'fas fa-user');

                       tdTag.append(iTag);
                       tdTag.append(eachuser.username);


                       var tdTag1 = document.createElement('td');
                       tdTag1.setAttribute('class', 'text-r');
                       var spanTag = document.createElement('span');
                       if(isOnline) {
                           spanTag.setAttribute('class', 'label label-primary');
                       } else { spanTag.setAttribute('class', 'label label-warning'); }
                       spanTag.textContent = userStatus;
                       tdTag1.append(spanTag);
                       hrTag.append(tdTag);
                       hrTag.append(tdTag1);
                       allusers.insertBefore(hrTag, allusers.firstChild);
                   });
               });

//           <tr>
//               <td><i class="fa fa-folder-o"></i>Projects</td>
//                       <td class="text-r "> <span class="label label-primary">Onliine</span></td>
//                       </tr>
               // Handle Chat Clear
               clearBtn.addEventListener('click', function(){
                 socket.emit('activeUsers');
                   socket.emit('clear');
               });

               // Clear Message
               socket.on('cleared', function(){
                   messages.textContent = '';
               });
           }

       })();
   </script>
